html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #39ff14;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.div-style {
  border: solid 2px;
  border-radius: 40px;
}

.outer-big-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.big-container {
  width: 47%;
  height: 70vh;
  margin: 0.75%;
}

.pomodoro-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.outer-small-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47%;
  height: 18vh;
  margin: 0.75%
}

.inner-small-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inner-smallest-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  height: 100%;
}


.black-box {
  width: 100%;
  height: 200px;
}


.circle {
  border-radius: 50%;
  width: 45vmin;
  height: 45vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task-container {
  margin: 7%;
  padding: 0;
  overflow: auto;
  height: 86%;
}

.task {
  font-size: 25px;
  margin-top: 0;
}

#pom-amount {
  text-align: center;
  font-size: 25px;
  margin: 0;
}

#countdown {
  text-align: center;
  font-size: 75px;
  margin: 0;
}

#should-work {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.timer-btn-container {
  display: flex;
  width: 100%;
  margin-top: 4vh;
  justify-content: center;
}

.timer-btn {
  border: solid 2px;
  border-radius: 10px;
  height: 48px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4%
}

.timer-btn-text {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.bottom-text {
  text-align: center;
  font-size: 25px;
}


.button {
  cursor: pointer;
}

#timer-cancel-btn {
  display: none;
}

@media screen and (max-width: 600px) {
  .outer-big-container {
    flex-direction: column;
  }

  .big-container {
    width: 95%;
    height: 35vh;
    margin: 1.5%;
  }

  .outer-small-container {
    width: 95%;
    height: 10vh;
    margin: 1.5%
  }

  #countdown {
    font-size: 35px;
  }

  .timer-btn-container {
    margin-top: 2vh;
  }

  .task {
    font-size: 20px;
  }

  .bottom-text {
    font-size: 20px;
  }

  #pom-amount {
    font-size: 15px;
  }
}

@media screen and (max-height: 600px) {
  #countdown {
    font-size: 35px;
  }

  .task {
    font-size: 20px;
  }

  .bottom-text {
    font-size: 20px;
  }

  #pom-amount {
    font-size: 15px;
  }
}