body {
  background-color: black;
  color: #39ff14;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.div-style {
  border: solid 2px;
  border-radius: 40px;
}

.outer-big-container {
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.big-container {
  width: 47%;
  /* height: 573px; */
  height: 530px;
}

.small-container {
  width: 47%;
  height: 120px;
}

.smallest-container {
  width: 22.5%;
}

.left-container {
  margin-left: 2%;
  margin-right: 1%;
}

.right-container {
  margin-left: 1%;
  margin-right: 2%;
}

.middle-container {
  margin-left: 1%;
  margin-right: 1%;
}

.black-box {
  width: 100%;
  /* height: 1000px; */
}

.circle {
  border-radius: 50%;
  width: 375px;
  height: 375px;
  margin: auto;
  margin-top: 50px;
}

.task-container {
  margin: 50px;
  padding: 0;
  overflow: auto;
  height: 473px;
}

.task {
  font-size: 25px;
  margin-top: 0;
}

#countdown {
  margin-top: 140px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  font-size: 75px;
}

#should-work {
  margin-top: 10px;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

.timer-btn-container {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
}

.timer-btn {
  border: solid 2px;
  border-radius: 10px;
  height: 48px;
  width: 120px;
  margin: 0 30px;
}

.timer-btn-text {
  text-align: center;
  font-size: 18px;
  margin-top: 12px;
}

.bottom-text {
  text-align: center;
  font-size: 25px;
  margin-top: 44px;
}


.button {
  cursor: pointer;
}

#timer-cancel-btn {
  display: none;
}

#big-clock {
  font-size: 380px;
  text-align: center;
  font-weight: 100;
  margin: 200px auto
}


@media screen and (max-width: 600px) {
  .outer-big-container {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .big-container {
    width: 94%;
    height: 573px;
    /* height: 530px; */
  }

  .small-container {
    width: 94%;
    height: 120px;
  }

  .smallest-container {
    width: 94%;
  }

  .left-container {
    margin: auto;
    margin-bottom: 30px;
  }

  .right-container {
    margin: auto;
    margin-bottom: 30px;
  }

  .middle-container {
    margin: auto;
    margin-bottom: 30px;
  }

  .circle {
    border-radius: 50%;
    width: 365px;
    height: 365px;

    margin-top: 50px;
  }

  #big-clock {
    font-size: 150px;
    margin: 400px auto
  }
}